@mixin btn-border1 ($origin){
    width:2px;
    height:100%;
    transform: scaleY(0);
    transform-origin: $origin;
    transition: transform 0.5s;
}
@mixin btn-border2($scale){
    width:100%;
    height:2px ;
    transform: $scale;
    transform-origin:left;
    transition : transform 0.5s;
}
@mixin Flex($justify-content){
    display: flex;
    justify-content: $justify-content;
    align-items: center;
    flex-flow: row wrap;
}
